<div class="kanban" cdkDropListGroup>
  <div cdkDropListGroup>
    <div class="example-container" *ngFor="let status of statusList">
      <h2>{{ status }}</h2>
      <div
        cdkDropList
        [cdkDropListData]="getTasksByStatus(status)"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box"
          *ngFor="let item of getTasksByStatus(status)"
          cdkDrag
        >
          {{ item.projectName }}

          <!-- <mat-icon (click)="deleteTicket(item)">delete</mat-icon> -->
        </div>
      </div>
    </div>
  </div>
</div>
